{% extends "correo/marco.html" %}

{% block content %}
    <p>¡Hola, {{ nombre }}!</p>
    <p>¡Has confirmado tu plaza en el HackUDC 2026!</p>
    <p>Próximamente recibirás el pase para el evento, y más información relevante</p>
    <br>
    <p>Recuerda que siempre puedes ver tus datos de registro aquí: <a href="https://{{ host }}/verificar/{{ token_verificacion }}">https://{{ host }}/verificar/{{ token_verificacion }}</a>. Aún estás a tiempo de decirnos si hay un error.</p>
    <div class="background-color: #ff88003a; border: 2px solid #ff88007f; border-radius: 0.5rem; padding: 0.5rem 1rem; color: #eee;">
        <b>Advertencia:</b> Si no puedes venir, siempre puedes hacérnoslo saber en <a href="https://{{ host }}/confirmar/{{ token_confirmacion }}">https://{{ host }}/confirmar/{{ token_confirmacion }}</a>. Así, podremos asignar tu plaza a otra persona.
    </div>

    <p>Si tienes alguna duda, escríbenos a <a href="mailto:hackudc@gpul.org">hackudc@gpul.org</a>.</p>
{% endblock content %}
