{% extends "correo/marco.html" %}

{% block content %}
    <p>¡Hola, {{ nombre }}!</p>

    <p style="font-size: 16px; font-weight: bold; text-align: center; margin: 30px 0">
        Tenemos buenas noticias: ¡Has sido aceptado/a en HackUDC!
    </p>

    <p>
        Haz clic en este enlace para confirmar tu plaza:
        <a href="https://{{ host }}/confirmar/{{ token }}">https://{{ host }}/confirmar/{{ token }}</a>
    </p>

    <p>¡Gracias por animarte a participar!</p>

    <p>
        Tienes hasta el {{ expiracion|date:'d \d\e F \d\e Y' }} (incluido) para aceptarla. Fuera de ese plazo no podremos garantizártela.
    </p>

    <p>
        Una vez confirmes tu plaza, no tendrás que hacer nada más. <strong>Recibirás más información pronto.</strong> Mientras tanto, te sugerimos que revises nuestra página web o redes sociales para estar al día con las últimas novedades.
    </p>

    <p>
        Si finalmente sabes que no podrás acudir, te agradeceríamos que utilices el mismo enlace para indicárnoslo.
        <br/>
        Así, podremos permitir participar a otra persona de la lista de espera.
    </p>

    <p style="text-align: center; margin-top: 30px; font-size: 16px">
        ¡Nos vemos en el hackathon!
    </p>
{% endblock content %}
