{% extends "correo/marco.html" %}

{% block title %}{{ asunto }}{% endblock %}

{% block content %}
    <p>¡Hola, {{ nombre }}!</p>
    <p>Este correo sirve para informarte de que hemos recibido la solicitud. Gracias por indicarnos las comidas en las que estarás, esto nos ayuda a estimar la comida que necesitaremos. Si finalmente acudirás a más comidas, no es necesario que nos avises, simplemente recógelas a la hora correspondiente sin problema.</p>
    <p>Utilizaremos esta dirección de correo para comunicarte toda la información que necesites saber antes y durante el evento.</p>
    <p>¡Muchas gracias por colaborar con HackUDC!</p>
{% endblock content %}
