<form action="/test" method="post">
    {% csrf_token %}

    <!-- {% if form.errors %}
    <div style="color: red;">
        <strong>Por favor, corrige los errores en el formulario:</strong>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %} -->

    {{ form.as_p }}
    <hr>
    <button type="submit">Enviar</button>
</form>
