{% extends 'marco.html' %}

{% block title %}Verificación correo{% endblock title %}
{% load static %}

{% block head %}
<link href="{% static 'css/verificar.css' %}" media="all" rel="stylesheet">
{{ form.media }}
{% endblock head %}

{% block content %}
<style>

</style>

{% include 'logo.html' %}

<hr>

<div id="verificacion-correo">
    <p>
        Comprueba que los detalles del registro sean correctos.
        Si hay algún error,
        <a href="mailto:hackudc@gpul.org?subject=[REGISTRO] - Error en los detalles del registro">avísanos</a>.
    </p>

    <form style="pointer-events: none;">
        {{ form }}
    </form>
</div>
{% endblock content %}
